/* ====================== Benefits ============================ */
.mobileScroll {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 200px;
  height: fit-content;
}

.mobileScroll_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 7.778%;
  padding: 0px;
  overflow: hidden;
}

.mobileScroll_fullScreen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mobile_mockup_wrapper {
  position: sticky;
  width: fit-content;
  height: fit-content;
  top: 102px;
  /* top: 150px; */
}

.benefits_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  max-width: 100%;
  height: fit-content;
  /* height: 247px; */
}

.benefits_helperText_1 {
  width: 608px;
  height: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #377bff;
}

.benefits_helperText_2 {
  width: 379px;
  height: 112px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 56px;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #171717;
}

.benefits_helperText_2 > p > span {
  background: linear-gradient(
    90deg,
    rgba(44, 162, 180, 1) 13%,
    rgba(109, 143, 241, 1) 30%,
    rgba(245, 88, 163, 1) 55%,
    rgba(237, 70, 76, 1) 87%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benefits_helperText_1_3 {
  width: 488px;
  height: 56px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  display: flex;
  align-items: center;

  color: #404040;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.benefits_helperText_1_3_extra {
  margin-bottom: -50px;
}

.benefits_btn_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 260px;
  height: 48px;
  margin-top: 103px;
}

.benefits_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;

  width: 260px;
  height: 48px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  background: #377bff;
  color: white;
  border-radius: 50px;
  border: none;
}

.benefits_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 691px;
  left: 720px;
  top: 0px;

  border-radius: 50px 0px 0px 50px;
}

.benefits_content_btn_diff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 608px;
  height: 412px;
}
