.faq_container {
  max-width: 100%;
  height: fit-content;
}

.faq_heading_box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 250px;
  background: linear-gradient(75.84deg, #b8f2ff 20.15%, #d8ceff 102.78%);
  border-radius: 0px;
}

.faq_heading {
  width: 919px;
  height: 58px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: #192b40;
}

/* =============== Accordion and Ask more question =================== */

.faq_ask_accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 158px;

  width: 1100px;
  height: fit-content;
  margin: auto;
  margin-top: 64px;
}
.faq_ask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 24px;

  width: 376px;
  height: 100px;
}

.faq_ask_helper_txt {
  width: 319px;
  height: 32px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -0.02em;
  color: #000000;
}

.faq_ask_block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 0px;
  gap: 20px;

  width: 376px;
  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.faq_ask_email {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 148px;
  height: 44px;

  background: #f3f4f6;
  border-radius: 8px;
}

.faq_ask a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: inherit;
}

.faq_ask_help_center a {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  width: 208px;
  height: 44px;

  background: #f3f4f6;
  border-radius: 8px;
}

/* ---------- Accordion -------- */
.faq_accordion {
  width: 625px;
  /* height: 528px; */
  height: fit-content;
}