.main {
  margin-top: 80px;
  width: 100%;
  /* height: fit-content; */
  left: 0px;
  top: 122px;
  background: #ffffff;
}

/* ====================================== Get Smifi Css ======================================= */
.getSmifi_container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 80%;
  /* height: 506px; */
  height: fit-content;
}

.getSmifi_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 670px;
  height: 284px;
}

.getSmifi_contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  height: fit-content;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.getSmifi_heading_overline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  /* width: 649px;
  height: 144px; */
  width: inherit;
  height: fit-content;
}

.getSmifi_energyAssistant {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #377bff;
}

.getSmifi_smarterHomes {
  max-width: 652.39px;
  height: inherit;
  /* width: 642px;
  height: 112px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 56px;
  letter-spacing: -0.02em;

  display: flex;
  align-items: center;

  color: #171717;
}
.getSmifi_smarterHomes p {
  margin: 0px;
  padding: 0px;
}

.getSmifi_smarterHomes > p > span {
  background: linear-gradient(
    90deg,
    rgba(44, 162, 180, 1) 14%,
    rgba(109, 143, 241, 1) 42%,
    rgba(245, 88, 163, 1) 69%,
    rgba(237, 70, 76, 1) 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.supportText {
  /* width: 488px; */
  width: inherit;
  /* height: 28px; */
  height: inherit;

  /* Paragraph/Large/Regular */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;

  /* Neutral/700 */

  color: #404040;
}

.getSmifi_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 424px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#getSmifi_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;

  width: 148px;
  height: 48px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  background: #377bff;
  color: white;
  border-radius: 50px;
  border: none;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.getSmifi_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 254px;
  height: 24px;
}

.getSmifi_ratingText {
  width: 120px;
  /* height: 20px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  color: #737373;
}

.getSmifi_mobileApp_device {
  position: relative;
  width: 550px; /* taking 80% of the whole window */
  min-width: 320px;
  min-width: 516.81px;
  height: 506px;
  /* background-color: #2ca2b4; */
}

/* ======================= Features ================================== */

.features_container {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  gap: 7%;
  margin: auto;
  margin-top: 150px;
  width: 60%;
  height: 290px;
  /* top: 778px; */
}

.features_frame {
  /* box-sizing: border-box; */
  width: 300px;
  height: 330px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
}
.features_frame:hover {
  z-index: 4;
  box-shadow: 0px 4px 50px rgba(22, 38, 55, 0.1);
  background: white;
  border: none;
}

.features_frame1_img {
  margin: 20px 19px 21px 19px;
  left: 19px;
  top: 20px;
}
.features_frame1_Text {
  margin: 25px 87px 21px 19px;
  width: 194px;
  height: 54px;
  left: 19px;
  top: 255px;

  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;

  color: #2d3f61;
}
.features_frame1_Text span {
  font-weight: 700;
}

.features_frame2_img {
  margin: 20px 76px 20px 20px;
  left: 20px;
  top: 20px;
}
.features_frame2_Text {
  margin: 20px 80px 26px 20px;
  width: 200px;
  height: 54px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: #2d3f61;
}
.features_frame2_Text span {
  font-weight: 700;
}

.features_frame3_img {
  margin: 17px 50px 23px 20px;
  left: 20px;
  top: 17px;
}
.features_frame3_Text {
  margin: 23px 80px 25.62px 20px;
  width: 200px;
  height: 54px;
  left: 20px;
  top: 250.38px;

  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;

  color: #2d3f61;
}
.features_frame3_Text span {
  font-weight: 700;
}

/* ========================= Helper text SuperPower ===============================*/
.superpower_container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.superpower_designImg_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.superpower_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  /* width: 957px;
  height: 171px; */
  width: 73%;
  height: auto;
  left: 254px;
}

.superpower_text .superpower_strong {
  /* width: 957px; */
  /* height: 58px; */
  width: 100%;
  height: auto;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: #162637;
}

.superpower_text .superpower_light {
  /* width: 675px; */
  /* height: 93px; */
  width: 70%;
  height: auto;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;

  text-align: center;

  color: #333333;
}

.superpower_smifi_image_box {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 65px;
}

.superpower_smifi_image {
  position: relative;
  margin: auto;
  /* width: 455px; */
  width: 31.9%;
  height: 435px;
}

/* ====================== Benefits ============================ */

.benefits_container {
  margin-top: 150px;
  height: 2173px;
}

.benefits_frame_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 691px; */
  width: 92.2%;
  /* width: 87.438%; */
  height: auto;

  margin-bottom: 50px;
  /* padding-left: 112px; */
  margin-left: auto;
  background: #ffffff;
}

.benefits_content_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  /* margin-top: 124px; */
  /* margin-left: 112px; */
  /* margin-bottom: 279px; */
}

.benefits_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  max-width: 100%;
  /* width: 156%; */
  height: 247px;
}

.benefits_helperText_1 {
  width: 608px;
  height: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #377bff;
}

.benefits_helperText_2 {
  width: 379px;
  height: 112px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 56px;
  /* or 108% */

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #171717;
}

.benefits_helperText_2 > p > span {
  /* background: -webkit-linear-gradient(
    0deg,
    #2ca2b4 32.41%,
    #5598de 39.42%,
    #7f87ff 45.9%,
    #f65aad 51.83%,
    rgba(236, 61, 67, 0.954327) 58.3%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(
    90deg,
    rgba(44, 162, 180, 1) 14%,
    rgba(109, 143, 241, 1) 42%,
    rgba(245, 88, 163, 1) 70%,
    rgba(237, 70, 76, 1) 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benefits_helperText_1_3 {
  width: 488px;
  height: 56px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  display: flex;
  align-items: center;

  color: #404040;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.benefits_btn_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 260px;
  height: 48px;
  margin-top: 103px;
}

.benefits_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;

  width: 260px;
  height: 48px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  background: #377bff;
  color: white;
  border-radius: 50px;
  border: none;
}

.benefits_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 691px;
  left: 720px;
  top: 0px;

  border-radius: 50px 0px 0px 50px;
}

.benefits_content_btn_diff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 608px;
  height: 412px;

  /* margin-top: 124px; */
  /* margin-bottom: 279px; */
}
