.safety_container {
  margin-top: 10px;
}

.safety_content_design {
  display: flex;
  justify-content: space-between;
  width: 92.2%;
  margin-left: auto;
  /* padding-left: 100px; */
}

.safety_first_box {
  /* position: absolute; */
  z-index: -1;

  /* margin-top: 69px; */
  margin-left: 44px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 146px;

  color: rgba(34, 34, 34, 0.05);
}

.safety_content_txt {
  z-index: 0;
  /* margin-top: 135px; */
  margin-top: -78px;
  margin-bottom: 100px;
}

.safety_content_txt_1 {
  width: 649px;
  height: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #377bff;
}

.safety_content_txt_2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.safety_content_txt_3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.safety_dot_side_design {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 76px;
  height: 70px;
}

/* ----------------------- Safety Features ---------------------------------*/
.safety_features_container {
  position: relative;
  /* width: 97.23%; */
  width: 87.5%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-left: 7.5%;
  /* margin-left: 7.47%; */

  /* 
  margin-left: auto;
  padding: 50px 5% 17px 0px;
   */
}

.safety_features_box {
  width: 40%;
  height: fit-content;
}

.safety_features_img {
  height: fit-content;
  width: 15.5%;
  margin-bottom: 25px;
}
.safety_features_backNumber {
  /* position:absolute; */
  z-index: -1;
  /* margin-top: -90.09px; */
  margin-top: -135.09px;
  margin-left: 177.81px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 146px;

  background: linear-gradient(
    32.28deg,
    rgba(147, 132, 232, 0) 15.18%,
    #80849f 85.23%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.safety_features_txt_1 {
  height: fit-content;
  left: 0%;
  right: 50.95%;
  top: 101px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin-bottom: 20px;

  color: #377bff;
}

.safety_features_txt_1_2 {
  height: fit-content;
  width: 70%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #192b40;
}
.safety_features_txt_3_2 {
  height: fit-content;
  width: 50%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #192b40;
}
